.body {
    background-color: white;
    font-family: 'Rubik', sans-serif;
}

.fontRubik {
    font-family: 'Rubik', sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* margin-top: 2%; */
    height: 80px;
}

.header-logo {
    margin-right: 10px;
    margin-left: 10%;
    margin-top: 20px;
}

.header-search {
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    margin-left: 48px;
    margin-top: 20px;
    border-radius: 12px;
    border: 0;
    background-color: #EDEEF2;
    color: gray;
    height: 40px;
    width: 224px;
    padding-inline-start: 2%;
    background-image: url(images/search.png);
    background-repeat: no-repeat;
    background-position: 90%;
}

.header-menu {
    display: flex;
    text-align: right;
    margin-left: auto;
    margin-right: 1px;
}

.header-menu-item {
    padding: 28px;
    margin-top: auto;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

.basket {
    /* background-color: #F3F4FF; */
    width: 48px;
    height: 48px;
    margin-top: 16px;
    border-radius: 10px;

}

.basket-img {
    padding: 5px;
}

.user-photo {
    width: 48px;
    height: 48px;
    margin-top: 16px;
    margin-left: 17px;
    text-align: center;
    border-radius: 20px;
    margin-right: 10%;
}

.main {
    margin: 24px 10%;
}

.promo {
    width: 1110px;
    display: flex;
}

.back-lightblue {
    background-color: #F3F4FF;
}

.back-lightbrown {
    background: #FFF3ED;
}

.promo-element {
    width: 540px;
    height: 188px;
    border-radius: 20px;
    display: flex;
    
    margin-left: 30px;
}


.promo-text {
    
}

.promo-text-title {
    margin-top: 24px;
    font-size: 20px;
    font-weight: 400;
}

.promo-text-discount {
    margin-top: 25px;
    font-size: 40px;
    font-weight: 700;
    
}

.color-blue{
    color: #4E60FF;
}
.color-orange{
    color: #FD6D22;
}

.promo-text-description {
    margin-top: 36px;
    font-size: 14px;
    color: #83859C;
}